/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    background-color: white;
    margin-top: 10px;
    border-radius: 6px;
}

/* HEADER */
.page-header{
    background-color: white;
}

.image-header{
    width: 200px;
    padding: 0 24px;
}

/* MAIN */
.page-button{
    border-radius: 4px;
    padding: 3px;
    border: 2px solid rgb(89, 176, 219);
}

.section-button{
    padding: 24px;
    border-bottom: 3px solid grey;
}

.page-list{
    list-style: none;
    font-family: "Gidole", sans-serif;
    line-height: 40px;
}

.list-card{
    background-color: aqua;
    width: 60px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-family: "Gidole", sans-serif;
    font-size: 10px;
    max-height: fit-content;
}