/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    background-color: white;
    margin-top: 10px;
    border-radius: 6px;
}

/* HEADER */
.page-header{
    background-color: white;
}

.image-header{
    width: 200px;
    padding: 0 24px;
}

/* MAIN */
.page-button{
    border-radius: 4px;
}

.page-list{
    list-style: none;
    font-family: "Gidole", sans-serif;
}

.list-card{
    background-color: aqua;
    width: 40px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-family: "Gidole", sans-serif;
    font-size: 10px;
}