/* RESET */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: gray;
    font-family: "Gidole", sans-serif;
    font-size: 18px;
}

ol,
ul {
    list-style: none;
}

/* HEADER */
.page-header{
    background-color: white;
}

.logo{
    padding: 0 12px;
    width: 200px;
}

/* MAIN */
.container{
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}

.section-button{
    padding: 20px;
    border-bottom: 1px solid gray;
}

.button{
    border-radius: 6px;
    background-color: rgba(20, 170, 245, 1);
    border: solid 1px rgba(20, 170, 245, 1);
    padding: 4px;
}

.button-outline{
    background-color: transparent;
    border: solid 1px;
}

.list{
    padding: 20px;
    line-height: 30px;
}

.list-title{
    margin-top: 14px;
}

.title{
    font-size: 24px;
}

.item{
    width: 20px;
    height: 20px;
    border: solid 1px;
    border-radius: 50%;
    display: inline-block;
    line-height: 20px;
    text-align: center;
}

.check{
    color: green;
}

.cross{
    color: red;
}

.badge{
    background-color: rgba(9, 169, 237, 1);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 6px;
    border-radius: 99999px;
}